/* Reset CSS */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generali */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.color-white {
    color: white;
}

.color-violet {
    color: rgb(112, 129, 194);
}


/* Backgrounds */

.bg-azzurro {
    background-color: rgb(37, 92, 232);
}

.bg-grey {
    background-color: rgb(245, 245, 245);
}

.wave {
    background-color: rgb(245, 245, 245);
    mask-image: url('../imgs/wave.svg');
    height: 70px;
}

.central-wave {
     background-color: rgb(245, 245, 245);
    mask-image: url('../imgs/wave.svg');
    transform: rotate(180deg);
    height: 70px;
}

.bg-black {
    background-color: rgb(34, 38, 41);
}


/* Bottoni (a) */

.btn {
    border-radius: 18px;
    padding: 8px;
}

.btn-accedi,
.btn-scarica1 {
    background-color: white;
    color: black;
}

.btn-header2 {
    text-align: center;
}

.btn-scarica1 {
    margin-right: 20px;
}

.btn-apri {
    background-color: black;
}

.btn-scarica2,
.btn-registrati {
    background-color: rgb(112, 129, 194);
}

.btn-accedi,
.btn-registrati {
    font-size: 12px;
}


/* Header */

.header1 {
    align-items: center;
    height: 60px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-link {
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 80px;
}

.header2 {
    background-image: url('../imgs/jumbo.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.header2-section {
    align-items: center;
    width: 40%;
    text-align: center;
}

.header-p {
    margin: 20px;
}


/* Main */

.main-sezione1,
.main-sezione2,
.main-sezione3 {
    align-items: center;
}


.main-img-section {
    flex-basis: 60%;
    max-width: 100%;
}

.sezioni-main-contenuto {
    flex-basis: 40%;
    padding: 50px;
}

.main-sezione4 {
    align-items: center;
    text-align: center;
    padding: 50px;
}

.sfondo-stelle {
    background-image: url('../imgs/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
    margin-bottom: 20px;
}


/* Footer */

/*Footer prima sezione*/

.footer-sezione1 {
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid rgb(112, 129, 194);
    padding: 50px;
    line-height: 40px;
}


.footer-sezione1-content {
    flex-basis: calc((100% / 12) * 4)
}

.ita-img {
    height: 15px;
}


.footer-sezione1-lista {
    flex-basis: calc((100% / 12) * 8)
}

.lista {
    width: 100%;
    line-height: 40px;
}

.ul1,
.ul2,
.ul3,
.ul4 {
    flex-basis: 25%;
    list-style: none;
    color: white;
}

.title-list {
    color: rgb(112, 129, 194);
}

/* Footer seconda sezione */

.footer-sezione2 {
    align-items: flex-end;
    height: 80px;
}

.footer-navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}